<div class="col-2">
  <label for="genre" class="fw-bold mb-1" >GENRE</label>
  <select name="genre" class="form-select">
    <option selected>장르를 선택하세요</option>
    <option value="시/에세이">시/에세이</option>
    <option value="일반소설">일반소설</option>
    <option value="고전소설">고전소설</option>
    <option value="역사소설">역사소설</option>
    <option value="SF/과학소설">SF/과학소설</option>
    <option value="판타지소설">판타지소설</option>
    <option value="공포/호러소설">공포/호러소설</option>
    <option value="미스터리/스릴러소설">미스터리/스릴러소설</option>
    <option value="로맨스소설">로맨스소설</option>
  </select> <br>
  </div>